4.4.3_apache_nifi/NiFi_Flow_Example_1_csv2json_PG.json
{"flowContents":{"identifier":"9ecf62fb-6011-3aa9-a86e-a7ad2057c374","instanceIdentifier":"b91fbff1-019a-1000-e048-b04267b357a8","name":"NiFi Flow Example 1 csv2json","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"b0e48006-7c90-3340-873d-fa79572f6ee7","instanceIdentifier":"ba792d00-019a-1000-5b4d-86b94f93d27e","name":"Example 3: Use custom processor (TransformData)","comments":"","position":{"x":-464.0,"y":-336.0},"processGroups":[],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"9ecf62fb-6011-3aa9-a86e-a7ad2057c374"},{"identifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7","instanceIdentifier":"ba76c8b3-019a-1000-bf67-b7eea09cbf72","name":"Example 1: csv2json (1 file per row)","comments":"","position":{"x":-464.0,"y":-584.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7648a97a-9462-3f2e-839f-500645d4c69d","instanceIdentifier":"b97255e8-019a-1000-fb84-f15e0b4941f5","name":"Put File names.json","comments":"","position":{"x":496.0,"y":280.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0400ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"0e415800-c532-31ed-b1bc-d892e304a09c","instanceIdentifier":"b934e14d-019a-1000-8541-1197bab85dcf","name":"Get file names.csv","comments":"","position":{"x":-144.0,"y":-392.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"[^\\.].*\\.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0400ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"c46e3231-827b-3ad8-870a-528a840afacc","instanceIdentifier":"b97accb4-019a-1000-3c77-d62862512755","name":"Update attribute: file name (JSON)","comments":"","position":{"x":496.0,"y":64.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"filename":"names_${now():format('yyyyMMdd_HHmmss')}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0400ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"5648c2c3-1895-3278-9e90-f31eaf9b6bee","instanceIdentifier":"b95542f9-019a-1000-3dfc-01bb40e3cf23","name":"Update record: uppercase name and city","comments":"","position":{"x":496.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"/status":"VERIFIED","Record Writer":"e66676ed-e9b9-325e-9ba8-35586bc71c7d","Record Reader":"e1a5e4e0-f916-3748-849d-3ad7b62c7d85","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/status":{"name":"/status","displayName":"/status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#00a81c"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"d70aa904-d971-31c9-ab35-92582d523736","instanceIdentifier":"b9b5a818-019a-1000-4190-a3370ff4009b","name":"LogAttribute","comments":"","position":{"x":496.0,"y":-368.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"error","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"validation.error.message","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff0000"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"1b3bbe08-3bd5-303b-afdf-0c0c50a60e2f","instanceIdentifier":"b9378cdd-019a-1000-2729-32c0c229f2a0","name":"Invalid CSV: Log failure message","comments":"","position":{"x":-144.0,"y":96.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":"ERROR: Cannot process file names.csv "},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#fa0000"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"400b6d6d-b2bd-3741-8afb-4085dc1b36f1","instanceIdentifier":"b94d5346-019a-1000-a2ec-dc8ede42d765","name":"Validate CSV: names.csv","comments":"","position":{"x":-144.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.ValidateCsv","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"validate-csv-violations":"false","validate-csv-schema":"ParseInt, NotNull, Null, Null","validate-csv-eol":"\\n","validate-csv-delimiter":",","validate-csv-header":"true","validate-csv-quote":"\"","Max Lines Per Row":"0","CSV Source Attribute":null,"validate-csv-strategy":"Line by line validation"},"propertyDescriptors":{"validate-csv-violations":{"name":"validate-csv-violations","displayName":"Include all violations","identifiesControllerService":false,"sensitive":false,"dynamic":false},"validate-csv-schema":{"name":"validate-csv-schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"validate-csv-eol":{"name":"validate-csv-eol","displayName":"End of line symbols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"validate-csv-delimiter":{"name":"validate-csv-delimiter","displayName":"Delimiter character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"validate-csv-header":{"name":"validate-csv-header","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"validate-csv-quote":{"name":"validate-csv-quote","displayName":"Quote character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Lines Per Row":{"name":"Max Lines Per Row","displayName":"Max Lines Per Row","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Source Attribute":{"name":"CSV Source Attribute","displayName":"CSV Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"validate-csv-strategy":{"name":"validate-csv-strategy","displayName":"Validation strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#00a81c"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8b0c0015-dcff-3fc6-893d-e3aa7bb7dd3b","instanceIdentifier":"b95582bd-019a-1000-9301-04e99166192d","name":"","source":{"id":"400b6d6d-b2bd-3741-8afb-4085dc1b36f1","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Validate CSV: names.csv","comments":"","instanceIdentifier":"b94d5346-019a-1000-a2ec-dc8ede42d765"},"destination":{"id":"5648c2c3-1895-3278-9e90-f31eaf9b6bee","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Update record: uppercase name and city","comments":"","instanceIdentifier":"b95542f9-019a-1000-3dfc-01bb40e3cf23"},"labelIndex":0,"zIndex":3,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"67016de8-aeab-3b23-b279-a29efad3a481","instanceIdentifier":"b97c0452-019a-1000-180b-786624fd2162","name":"","source":{"id":"5648c2c3-1895-3278-9e90-f31eaf9b6bee","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Update record: uppercase name and city","comments":"","instanceIdentifier":"b95542f9-019a-1000-3dfc-01bb40e3cf23"},"destination":{"id":"c46e3231-827b-3ad8-870a-528a840afacc","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Update attribute: file name (JSON)","comments":"","instanceIdentifier":"b97accb4-019a-1000-3c77-d62862512755"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"07079fad-dfa8-3f3c-af49-d654a1dc6547","instanceIdentifier":"b95378f2-019a-1000-5ea6-f8a27d941f7c","name":"","source":{"id":"400b6d6d-b2bd-3741-8afb-4085dc1b36f1","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Validate CSV: names.csv","comments":"","instanceIdentifier":"b94d5346-019a-1000-a2ec-dc8ede42d765"},"destination":{"id":"1b3bbe08-3bd5-303b-afdf-0c0c50a60e2f","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Invalid CSV: Log failure message","comments":"","instanceIdentifier":"b9378cdd-019a-1000-2729-32c0c229f2a0"},"labelIndex":0,"zIndex":1,"selectedRelationships":["invalid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"e7022262-e475-3960-86b6-ec2c9e81dfc0","instanceIdentifier":"b9b5cb98-019a-1000-9f36-80e8e1111c34","name":"","source":{"id":"400b6d6d-b2bd-3741-8afb-4085dc1b36f1","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Validate CSV: names.csv","comments":"","instanceIdentifier":"b94d5346-019a-1000-a2ec-dc8ede42d765"},"destination":{"id":"d70aa904-d971-31c9-ab35-92582d523736","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"LogAttribute","comments":"","instanceIdentifier":"b9b5a818-019a-1000-4190-a3370ff4009b"},"labelIndex":0,"zIndex":8,"selectedRelationships":["invalid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"c95fc625-a5a3-32d5-bd24-0c4a314ededa","instanceIdentifier":"b97dcb2c-019a-1000-aa6a-32c42aed7d40","name":"","source":{"id":"7648a97a-9462-3f2e-839f-500645d4c69d","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Put File names.json","comments":"","instanceIdentifier":"b97255e8-019a-1000-fb84-f15e0b4941f5"},"destination":{"id":"1b3bbe08-3bd5-303b-afdf-0c0c50a60e2f","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Invalid CSV: Log failure message","comments":"","instanceIdentifier":"b9378cdd-019a-1000-2729-32c0c229f2a0"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"e0e8aff8-9141-3d49-855a-e1ced7a191f3","instanceIdentifier":"b953f350-019a-1000-13eb-43706c889e29","name":"","source":{"id":"0e415800-c532-31ed-b1bc-d892e304a09c","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Get file names.csv","comments":"","instanceIdentifier":"b934e14d-019a-1000-8541-1197bab85dcf"},"destination":{"id":"400b6d6d-b2bd-3741-8afb-4085dc1b36f1","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Validate CSV: names.csv","comments":"","instanceIdentifier":"b94d5346-019a-1000-a2ec-dc8ede42d765"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"1e71aaaa-2a7c-3c6e-beec-945d891d9426","instanceIdentifier":"b9899d98-019a-1000-203e-c481db7db4af","name":"","source":{"id":"5648c2c3-1895-3278-9e90-f31eaf9b6bee","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Update record: uppercase name and city","comments":"","instanceIdentifier":"b95542f9-019a-1000-3dfc-01bb40e3cf23"},"destination":{"id":"1b3bbe08-3bd5-303b-afdf-0c0c50a60e2f","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Invalid CSV: Log failure message","comments":"","instanceIdentifier":"b9378cdd-019a-1000-2729-32c0c229f2a0"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"},{"identifier":"9e5cd02c-3094-3c70-8e84-c48de7364dc3","instanceIdentifier":"b97c2a9d-019a-1000-0b4d-11b399173103","name":"","source":{"id":"c46e3231-827b-3ad8-870a-528a840afacc","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Update attribute: file name (JSON)","comments":"","instanceIdentifier":"b97accb4-019a-1000-3c77-d62862512755"},"destination":{"id":"7648a97a-9462-3f2e-839f-500645d4c69d","type":"PROCESSOR","groupId":"75a5bd38-05dd-337c-9234-19171c3b5aa7","name":"Put File names.json","comments":"","instanceIdentifier":"b97255e8-019a-1000-fb84-f15e0b4941f5"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75a5bd38-05dd-337c-9234-19171c3b5aa7"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"9ecf62fb-6011-3aa9-a86e-a7ad2057c374"},{"identifier":"b7d3c648-d8c3-32a9-bf69-1360d64ac442","instanceIdentifier":"ba78cd04-019a-1000-efb6-2fe555ad53f1","name":"Example 2: csv2json (1 file for all rows)","comments":"","position":{"x":0.0,"y":-584.0},"processGroups":[],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"9ecf62fb-6011-3aa9-a86e-a7ad2057c374"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e1a5e4e0-f916-3748-849d-3ad7b62c7d85","instanceIdentifier":"b9578c0f-019a-1000-6815-e92486a3f7bc","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9ecf62fb-6011-3aa9-a86e-a7ad2057c374"},{"identifier":"e66676ed-e9b9-325e-9ba8-35586bc71c7d","instanceIdentifier":"b957b85b-019a-1000-47d6-e46f09dacaed","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9ecf62fb-6011-3aa9-a86e-a7ad2057c374"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}